@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

    body {
        font-family: 'Space Mono', sans-serif ; 
    }

    /* Valikon CSS */ 

        #vali {
            width: 100%;
            position: fixed;
            top: 40%;
            display: flex;
            justify-content: center;
        }

        .valikko {
            display: flex;
            flex-direction: column;
            padding-right: 85%;
            text-align: right;   
        }

        a {
            width: fit-content;
            margin-left: auto;
        }

        a:hover{
            color: white;
            background-color: black;
            font-weight: bolder;
            font-size: 110%;
        }
        
        #logo {
            width: fit-content;
            margin-left: auto;
        }

        .Work {
            font-size: 90%;
            background-color: white;
        }


    /* Oikealla rullaavan CSS */
    
        section {
            margin-left: 20%;
            margin-top: 10%;
            background-color: whitesmoke;
        }

        #eka {
            filter: grayscale(100%);
            width: 70% ;
        }

        .varjo {
            box-shadow: 10px 10px 5px grey;
        }

        #aboutme {
            margin-top: 100px;
        }

        #esittelyteksti {
            position: absolute;
            margin-right: 30%;
            margin-left: 5%;
        }

        #toka{
            width: 70%;
        }

        #boxi {
            
            margin-right: 30%;
            margin-top: 100px;
            background-color: black;
            color: white;
            text-align: center;
        }

        #tyot {
            margin-right: 30%;
            margin-top: 100px;
        }
        
        .viiva {
            border: 1px solid black;
            box-shadow: 2px 2px 5px grey;
        }
        
        h1 {
            background-color: black;
            color: white;
            text-align: center;
        }

        .seli {
            margin-bottom: 100%;
        }

        

@media screen and (max-width: 481px){

    #vali {
        z-index: 2;
    }

    section {
        margin-left: 0%;
        z-index: 1;
    }

    .valikko {
        display: flex;
        width: fit-content;
        flex-direction: column;
        padding-right: 75%;
        text-align: right;   
    }

    #eka{
        width: 100%;
        height: auto;
    }

    #toka {
        width: 100%;
        height: auto;
    }

    #esittelyteksti {
        width: 90%;
    }

    .valiobj {
        background-color: white;
    }
    
    #boxi {
         margin-right: 0%;
    }

    #esittelyteksti {
        margin-right: 0%;
    }

    #tyot {
        margin-right: 0%;
    }
        
}